@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');


/*------------------------------------------Logo------------------*/
/*-----Credit for image - https://www.pentagram.com/work/justice-league---*/
.logo {
    max-height: 200px;
    max-width: 200px;
}

/*--------------------------------------------------Background------------------*/

.row {
    margin: 0;
    padding: 0;
    text-align: center;
}

.bg-color-header {
    background-image: url(../images/earth_image.jpg);
    background-repeat: no-repeat;
    min-width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}

.intro-block {
    background-color: #fafafa;
}

.bg-color-footer {
    background-color: #fafafa;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/*------------------------------------------Text formatting------------------*/

.page-title {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 100%;
    letter-spacing: 2px;
    margin: 0;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-subtitle {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1rem;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro-title {
    font-family: "Teko", sans-serif;
    color: #093146;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
}

.intro-content {
    font-family: "Teko", sans-serif;
    color: #093146;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.title {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.content {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

/*------------------------------------------Navigation------------------*/

nav {
    padding-top: 5rem;
}

ul {
    margin-bottom: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    width: 100%;
}

#nav li {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 100px;
    padding-top: 20px;
}

.menuitem a:hover {
    color: orange;
}

.menuitem span {
    display: block;
    width: 100%;
    letter-spacing: 2px;
}

/*------------------------------------------Scrolling------------------*/
.section {
    padding: 50px 0;
}

/*----------------------------------------back to top button------------*/

#btn-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #fafafa;
    background-color: #093146;
    border-color: #fafafa;

}

/*---------Heros map-----------*/

.row-map {
    background-image: url(../images/digital_background.jpg);
    width: 100%;
    text-align: center;
}

#hero-div {
    text-align: center;
}

.btn-map {
    margin: 2rem;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    background-color: red;
    color: #fafafa;

}

#map {
    text-align: center;
    height: 400px;
    max-width: 100%;
    margin-right: 2em;
    margin-left: 2em;

}

.hide {
    display: none;
}

#hero-location {
    background-color: #093146;
}

/*----------------------------------------Credit: See hero.js - ------------*/

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


@keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@-o-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@-moz-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

@-ms-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

#hero-location a {
    text-decoration: none;
    color: orange;
}

#hero-location a:hover {
    text-decoration: underline;
    color: orange;
}






/*----------------------------------------Card flip heros------------*/

.hero-cta {
    color: orange;
}
.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.card {
    margin: 20px 0;
    cursor: pointer;
    width: 300px;
    height: 400px;
}

.card-container {
    perspective: 1000px;
}

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.8s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
}

/*-------------------find recruits img--------------*/
img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}


.front {
    background-color: grey;
}

.info-hg {
    background-color: goldenrod;
    color: black;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.info-ga {
    background-color: green;
    color: #fafafa;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.info-gl {
    background-color: black;
    color: rgb(11, 223, 11);
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.info-bc {
    background-color: black;
    color: yellow;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.info-cyborg {
    background-color: black;
    color: red;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.info-shazam {
    background-color: red;
    color: yellow;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

/*----------------------------------------Recruits Map---------------------------------*/

#recruit-map {
    text-align: center;
    height: 400px;
    max-width: 100%;
    margin-right: 2em;
    margin-left: 2em;
}


/*----------------------------------------Villains Map---------------------------------*/

#villain-map {
    text-align: center;
    height: 400px;
    max-width: 100%;
    margin-right: 2em;
    margin-left: 2em;
}

.mapboxgl-popup {
    color: #093146;
    font-family: 'Teko', sans-serif;
    max-width: 400px;
}

/*----------------------------------------Contact us - ------------*/
.btn-send {
    width: 100px;
    margin: 2rem;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    background-color: #fafafa;
    color: #093146;
}

.btn-send:hover {
    background-color: #093146;
    color: #fafafa;
    border: solid 2px #fafafa;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

#contact-us {
    border: solid 2px orange;
}

.btn-reset {
    width: 100px;
    margin: 2rem;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    background-color: #fafafa;
    color: #093146;
}

/*-------------------footer--------------*/

.footer-col {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    width: 100%;
}

.footer-col a {
    text-decoration: none;
}

.social-icon i {
    text-decoration: none;
    font-size: 30px;
    color: #093146;
    padding: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    text-align: right;
}

.social-icon i:hover {
    transform: scale(1.25);
}

.footer-img {
    text-align: left;
    padding: 0;
    margin: 0;

}

/*-------------------Media Queries----------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .page-title {
        font-size: 50px;
    }

    .page-subtitle {
        font-size: 30px;
    }

    #nav li {
        font-family: "Teko", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem;
    }
}