@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

/*--------------------------------------------------Background------------------*/
.bg-color-header {
    background-image: url(../images/earth_image.jpg);
    background-repeat: no-repeat;
    min-width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}

.ikntro {
    background-color: #000000;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 200px;
    width: 800px;
    border-radius: 10%;
}
/*------------------------------------------Text formatting------------------*/

.page-title {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    padding-top: 3rem;
    margin: 0;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-subtitle {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1rem;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro-title {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
}

.content {
    font-family: "Teko", sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
/*------------------------------------------Navigation------------------*/

nav {
    padding-top: 20rem;
}

ul {
    margin-bottom: 0;
}

.list-inline-item:not(:last-child) {
	margin: 0;
}

.menucontainer {
	font-size: 0;
}

#nav {
    width: 100%;
}

#nav li {
	font-family: "Teko", sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.menuitem {
	text-align: center;
	padding: 0;
}

.menuitem a {
	width: 100%;
	text-decoration: none;
	color: #fafafa;
	height: 100px;
	padding-top: 20px;
}

.menuitem span {
	display: block;
	width: 100%;
	letter-spacing: 2px;
}

/*------------------------------------------Scrolling------------------*/
.section {
  padding: 150px 0;
}